* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.picture {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Moul";
  color: #fff;
}
nav {
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 80px;
}
.nav-link {
  flex: 1;
  text-align: right;
}
.nav-link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-link ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-link ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-link ul li:hover::after {
  width: 100%;
}
.box {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.box h1 {
  font-size: 60px;
  color: #fff;
  line-height: 2;
}
.box p {
  margin: 1px 0 10px;
  font-size: 14px;
  color: #fff;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 25px;
  font-size: 14px;
  background: transparent;
  position: center;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .box h1 {
    font-size: 20px;
  }
  .nav-link ul li {
    display: block;
  }
  .nav-link {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #ffffff;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
  }
  .nav-link ul {
    padding: 30%;
  }
}
/*---------Course----------*/
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 32px;
  font-weight: 600;
}
p {
  color: #464343;
  font-size: 14px;
  font-family: "Battambang", serif;
  line-height: 1.8;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
h1 {
  font-family: "Moul", cursive;
  color: #000000db;
  font-size: 25px;
}
.campus-col {
  flex-basis: 31px;
  flex: 1;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  font-family: "Moul", cursive;
  color: #000000db;
  font-size: 20px;
}

.layer {
  top: 0;
  text-align: center;
}
/*height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: center;
  transition: 0.1s;
}
.layer:hover {
  background: rgba(187, 162, 162, 0.721);
}*/
/*
.layer h3 {
  width: 100%;
  font-weight: 600;
  color: #d00202;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.layer:hover h3 {
  bottom: 45%;
  opacity: 1;
}*/
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 5%;
  text-align: left;
}
.facilities-col img {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  background: #fff3f3;
  transition: 0, 1s;
}
.facilities-col :hover {
  background: rgba(230, 220, 220, 0.466);
}
.facilities-col p {
  padding: 0;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  font-size: medium;
  text-align: left;
}
.testimonial {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.testimonial-col {
  flex-basis: 40%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: hsla(0, 45%, 86%, 0.989);
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonial-col img {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
}
.testimonial-col p {
  padding: 0;
}
.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}
.testimonial-col .fa-solid {
  color: #f44336;
}
@media (max-width: 700px) {
  .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(fondren\ starbucks\ students.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h2 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
@media (max-width: 700px) {
  .cta h2 {
    font-size: 24px;
  }
}
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 600;
}
